{% extends 'web/base.html' %}
{% block content %}
{% load static %}

<div class="main-panel " id="demo">
  <div class="content-wrapper" id="demo2">
    <!-- recently added -->
    <div class="service-heading">
      <h5>Recently Added</h5>
    </div>
    <div class="container">

      {% for commo_services in common_services_poster|slice:"1::-1" %}
      <div class="container__img-holder">
        <img src="{{commo_services.image.url}}" alt="Image">
      </div>
      <div class="poster-title">
        <span>Poster name</span>
      </div>
      {% endfor %}
      {% for festive_poster in festivel_poster|slice:"1::-1" %}
      <div class="container__img-holder">
        <img src="{{festive_poster.image.url}}" alt="Image">
      </div>
      {% endfor %}
      {% for prof_posters in professional_poster|slice:"1::-1" %}
      <div class="container__img-holder">
        <img src="{{prof_posters.image.url}}" alt="Image">
      </div>
      {% endfor %}

    </div>

    <div class="img-popup">
      <img src="" alt="Popup Image">
      <div class="close-btn">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>


    <!-- common services -->
    <div>
      <h5 class="service-heading">Common Services</h5>
    </div>
    <div class="container">
      {% for commo_services in common_services_poster %}
      <div class="container__img-holder">
        <img src="{{commo_services.image.url}}" alt="Image">
        <div class="poster-title">
          <span>Poster name</span>
        </div>
      </div>
     
      {% endfor %}


    </div>

    <div class="img-popup">
      <img src="" alt="Popup Image">
      <div class="close-btn">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>



    <!-- festival posters -->
    <div>
      <h5 class="service-heading">Festivel Posters</h5>
    </div>
    <div class="container">
      {% for festive_poster in festivel_poster %}
      <div class="container__img-holder">
        <img src="{{festive_poster.image.url}}" alt="Image">
      </div>
      {% endfor %}
    </div>

    <div class="img-popup">
      <img src="" alt="Popup Image">
      <div class="close-btn">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>


    <!-- professional posters -->
    <div>
      <h5 class="service-heading">Professional Posters</h5>
    </div>
    <div class="container">
      {% for prof_posters in professional_poster %}
      <div class="container__img-holder">
        <img src="{{prof_posters.image.url}}" alt="Image">
      </div>
      {% endfor %}
    </div>

    <div class="img-popup">
      <img src="" alt="Popup Image">
      <div class="close-btn">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</div>


{% endblock %}