{% extends 'web/base.html' %}
{% block content %}
{% load static %}

<div class="main-panel">
    <div class="content-wrapper">
        <!-- recently added -->
        <div class="service-heading" >
            <h3>Recently Added</h3>
        </div>
        <section id="gallery">

            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
          </section>

        <!-- common services -->
        <div >
            <h3 class="service-heading">Common Services</h3>
        </div>
        <section id="gallery">

            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
          </section>


        <!-- festival posters -->
        <div >
            <h3 class="service-heading">Festivel Posters</h3>
        </div>
        <section id="gallery">

            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
            <div class="thumbnail">
              <div class="img-container"><a href=""><img
                    src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                    alt="..." />
              </div>
            </div>
          </section>

    <!-- professional posters -->
    <div >
        <h3 class="service-heading">Professional Posters</h3>
    </div>
    <section id="gallery">

        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
      </section>
    </div>
</div>


{% endblock %}