{% extends 'web/base.html' %}
{% block content %}
{% load static %}

<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">

    <!-- service head display -->
    <section>
      <div class="row">

        {% for each_service_head in service_head %}
        <div class="col-lg-3 col-md-2 col-sm-4 col-4 pb-4 ">
          <div class="service-main-head text-center bg-gradient-danger">
            <a href="{% url 'services:service' %}" class="serviec-main-head-a">{{each_service_head.title}}</a>
          </div>
        </div>
        {% endfor %}


        {% comment %}
        <div class="col-lg-3 col-md-2 col-sm-4 col-4 pb-4">
          <div class="service-main-head text-center bg-gradient-danger">
            <a href="{% url 'services:service' %}" class="serviec-main-head-a">Service Heading 1</a>
          </div>
        </div>
        {% endcomment %}
      </div>
      <div class="text-center py-5 ">
        <a href="{% url 'services:serviceHead' %}" class="show-more badge-gradient-info">Show More</a>
      </div>
    </section>

    <!--news scrolling  -->
    <section class="py-2">
      <div class="alert alert-info">
        <span class="text1">
          <marquee><b>{{latest_news.news}}</b></marquee>
        </span>
      </div>
    </section>

    <!-- new services -->
    <section class="py-5">
      <h3 class="pb-4 service-heading">NEW SERVICES</h3>
      <section id="gallery">

        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
      </section>
    </section>

    <!-- importants -->
    <section class="pt-3">
      <h3 class="pb-4 service-heading">IMPORTANT</h3>
      <section id="gallery">

        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
        <div class="thumbnail">
          <div class="img-container"><a href=""><img
                src="https://41.media.tumblr.com/c5d1ac7b9669b3bbb20ebb8444cb702a/tumblr_nxrgstujWX1sfie3io1_1280.jpg"
                alt="..." />
          </div>
        </div>
      </section>
    </section>
  </div>
  <!-- content-wrapper ends -->

</div>
<!-- main-panel ends -->

{% endblock %}