{% extends 'web/base.html' %}
{% block content %}
{% load static %}

<!-- partial -->
<div class="main-panel " id="demo">
  <div class="content-wrapper" id="demo2">

    <!-- service head display -->
    <section>
      <div class="row">

        {% for each_service_head in service_head %}
        <div class="col-lg-3 col-md-2 col-sm-4 col-4 pb-4 ">
          <div class="service-main-head text-center bg-gradient-danger">
            <a href="{% url 'services:service' each_service_head.slug %}" class="serviec-main-head-a">{{each_service_head.title}}</a>
          </div>
        </div>
        {% endfor %}


        {% comment %}
        <div class="col-lg-3 col-md-2 col-sm-4 col-4 pb-4">
          <div class="service-main-head text-center bg-gradient-danger">
            <a href="{% url 'services:service' %}" class="serviec-main-head-a">Service Heading 1</a>
          </div>
        </div>
        {% endcomment %}
      </div>
      <div class="text-center py-5 ">
        <a href="{% url 'services:serviceHead' %}" class="show-more badge-gradient-info">Show More</a>
      </div>
    </section>

    <!--news scrolling  -->
    <section class="py-2">
      <div class="alert alert-info">
        <span class="text1">
          <marquee><b>{{latest_news.news}}</b></marquee>
        </span>
      </div>
    </section>

    <!-- new services -->
    <section class="py-5">
      <h3 class="pb-4 service-heading">NEW SERVICES</h3>
      <div class="container">
        {% for posters in new_service_poster %}
        <div class="container__img-holder">
          <img src="{{posters.image.url}}" alt="Image">
        </div>
        {% endfor %}
      </div>

      <div class="img-popup">
        <img src="" alt="Popup Image">
        <div class="close-btn">
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>

    </section>

    <!-- importants -->
    <section class="pt-3">
      <h3 class="pb-4 service-heading">IMPORTANT</h3>
      <div class="container">
        {% for posters in important_poster %}
        <div class="container__img-holder">
          <img src="{{posters.image.url}}" alt="Image">
        </div>
        {% endfor %}
      </div>

      <div class="img-popup">
        <img src="" alt="Popup Image">
        <div class="close-btn">
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </section>
  </div>
  <!-- content-wrapper ends -->

</div>
<!-- main-panel ends -->

{% endblock %}

