{% extends 'web/base.html' %}
{% block content %}
{% load static %}


<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <!-- service head display -->
    <section>
      <div class="row">

        {% for each_service_head in service_head %}
        <div class="col-lg-3 col-md-2 col-sm-4 col-4 pb-4 ">
          <div class="service-main-head text-center bg-gradient-danger">
            <a href="{% url 'services:service' %}" class="serviec-main-head-a">{{each_service_head.title}}</a>
          </div>
        </div>
        {% endfor %}


        {% comment %}
        <div class="col-lg-3 col-md-2 col-sm-4 col-4 pb-4">
          <div class="service-main-head text-center bg-gradient-danger">
            <a href="{% url 'services:service' %}" class="serviec-main-head-a">Service Heading 1</a>
          </div>
        </div>
        {% endcomment %}

      </div>

    </section>

  </div>
  <!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->

{% endblock %}