{% extends 'web/base.html' %}
{% block content %}
{% load static %}

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row ">
                <h2 class="text-center pb-3">{{services.title}}</h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pb-5">
                <h4>About this service</h4>
                <p>{{services.about_service|safe}}</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h4>Required Documents</h4>
                <p>{{services.requirements|safe}}</p>
            </div>  
            
        </div>
        <div class="row pt-5">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 ">
                <ul>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                            <li>സെർവിസിന് വരുന്ന ചാർജ് </li>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 charge-pad">
                            : <span>&#8377; {{services.service_charge}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                            <li>സെർവിസിന് വാങ്ങാവുന്ന ചാർജ് </li>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 charge-pad">
                            : <span> &#8377;  {{services.actual_service_charge}} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                            <li>സെർവിസിന് വരുന്ന സമയം   </li>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-7 charge-pad">
                            : <span>{{services.time_for_service}} </span>
                        </div>
                    </div>
                     
                   
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 ">
                <a href="">
                    <div class="service-detail-button text-center">
                        <span>Video Tutorial</span>
                    </div>
                </a>
                <a href="">
                    <div class="service-detail-button text-center">
                        <span>Guidline</span>
                    </div>
                </a>
                <a href="">
                    <div class="service-detail-button text-center">
                        <span>Download Forms</span>
                    </div>
                </a>
            </div>
        </div>  
    </div>
</div>

{% endblock %}